// @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$primary: #6f42c1;
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

.image-frame {
  height: 800px;
  width: 800px !important;
  border: 2px solid white;
  box-sizing: border-box;
  margin-left: 3rem !important;
  margin-top: 3rem !important;
  // border-radius: 10px;
}

.top-row {
  height: 120px;
  background-image: url("./assets/img/top-row.png");
  background-size: cover;
  background-position: center;
  // color: rgb(218, 204, 8);
}

.top-row-left {
  // background-color: red;
}

.top-row-right {
  // background-color: blue;
}

.row-two {
  height: 500px;
  background-color: rgb(218, 204, 8);
  z-index: -1;
  position: relative;
}

%inner-box-shared {
  background-size: cover;
  background-position: center;
  margin-top: 10px !important;
  border-radius: 5px;
  border: 1px solid white;
}

.img1 {
  @extend %inner-box-shared;
  background-image: url("./assets/img/img1.jpg");
  height: 180px;
}

.img2 {
  @extend %inner-box-shared;
  background-image: url("./assets/img/img2.jpg");
  height: 180px;
}

.img3 {
  @extend %inner-box-shared;
  background-image: url("./assets/img/img3.jpg");
  height: 290px;
}

.img4 {
  @extend %inner-box-shared;
  background-image: url("./assets/img/img4.jpg");
  height: 240px;
  margin-right: 10px !important;
}

.desc {
  @extend %inner-box-shared;
  background-color: white;
  margin-right: 10px !important;
  height: 230px;
  padding-top: 10px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.row-bottom {
  height: 180px !important;
  width: 798px;
  border-radius: 0 0 10px 10px;
  // position: absolute;
  // background-image: url("./assets/img/bot-row.png");
  // background-position: bottom center;
  // background-size: cover;
  // z-index: 200;
}

.brand {
  // background-color: yellow;
  position: absolute;
  width: 820px !important;
  top: 610px;
  left: 38px;
}

.item-box {
  border: 1px solid $primary;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";
